/* .footer {
  width: 50%;
  height: 15%;
  background-color: #333;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  font-size: xx-large;
  gap: 20px;
}

.sender {
  width: 90%;
  display: flex;
  gap: 8px;
}

.input-text {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 25%;
}

.input-author {
  padding: 12px;
  width: 25%;
  border: none;
  border-radius: 5px;
}

.send-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
}

.menu {
  display: flex;
  gap: 2em;
}

.effacer {
  background-color: red;
  border-radius: 5px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
} */
